/* FONTS */

@font-face {
    font-family: 'lobster';
    src: url('../fonts/lobster-regular-webfont.woff2') format('woff2'),
         url('../fonts/lobster-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto-black-webfont.woff2') format('woff2'),
         url('../fonts/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* GLOBAL */

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    -webkit-touch-callout: none;                
    -webkit-text-size-adjust: none;             
    -webkit-user-select: none;                  
    

    --dark-color: #454454;
    --light-color: #ffffff;

    font-family: 'roboto', sans-serif;
}

/* MAIN HEADER */

header h1 {
    background-color: var(--dark-color);
    color: var(--light-color);

    text-align: center;
    padding: 1rem;
    font-size: 1.5em;

    font-family: 'lobster';
}


/* TEAM BOARD */

.board {
    overflow: auto;
}

.team {
    float: left;
    width: calc(50% - 0.5em);
    text-align: center;
}

.team:first-child{
    margin-right: 1em;
}

.team.losing {
    
}

.team__name {
    font-size: 1em;
    padding: 0.5rem;
    font-family: 'robotoblack';
    text-transform: uppercase;
}

.team__score {
    font-family: 'robotoblack';
    font-size: 3em;
    padding: 0.5rem;
    border: 1px solid var(--dark-color);

    margin-bottom: 1rem;

}

.team__action {
    display: flex;
    justify-content: space-around;

    list-style: none;
}

.team__action li {
      padding: 1em;
      border: 1px solid var(--dark-color);
}


.team__action li:first-child{
    margin-left: 0;
}

.team__action li:last-child{
    margin-right: 0;
}


/* LOG */

.logs {
    padding: 0 1em;
    padding-bottom: 1em;
    background: #dedede;
    margin: 0 auto;

}

.logs h2 {
    text-align: center;
    margin: 1em;
    padding-top: 1em;

    font-size: 1.1em;
}

.log {
    list-style: none;
}

.log__score::before {
    content: "+";
}
